<p style="color: green"><%= notice %></p>

<h1 class="display-4 text-center text-gray-800"> <%= t('.collection') %></h1>

<div id="collections" class="container mt-4">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td><%= collection.name %></td>
          <td>
          <% if Current.user.designer? %>
            <%= link_to t('.delete'), collection, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-danger" %>
            <%= link_to t('.editar'), edit_collection_path(collection), class: "btn btn-secondary" %>       
          <% end %>
          <%= link_to t('.view'), collection, class: "btn btn-primary" %>   
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if Current.user.designer? %>
    <%= link_to t('.new'), new_collection_path, class: "btn btn-success" %>
  <% end %>
</div>