<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= "Artículo" %></h5>
    <div class=" justify-content-md-start">

      <p class="card-text">
        <strong><%= t('.collection') %></strong>
        <%= article.collection.try(:name) %>
      </p>

      <p class="card-text">
        <strong><%= t('.model') %></strong>
        <%= article.model %>
      </p>

      <p class="card-text">
        <strong><%= t('.category') %></strong>
        <%= article.category.try(:name) %>
      </p>

      <p class="card-text">
        <strong><%= t('.description') %></strong>
        <%= article.description %>
      </p>
      <% article.photos.each do |photo| %> <img src="<%= url_for(photo) %>"> 
      <% end %>

      <p class="card-text">
        <strong><%= t('.materials') %></strong>
      </p>
    </div>
    <% if Current.user.designer? %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%=  %></th>
          </tr>
        </thead>
      <tbody>
        <% article.materials.each do |material| %>
          <tr>
            <td><%= material.name %></td>          
          </tr>
        <% end %>
      </tbody>
      </table>
    <% elsif current_user.engineer? %>
      <%= render partial: "form_materials", locals: {article: @article} %>
    <% end %>     
  </div>
</div>