<%= label_tag do %> 
    <%= form_with(model:[@collection, @article]) do |f| %>
        <table class=“table table-striped table-hover”> 
        <thead> 
          <tr> 
            <th>Nombre del material</th> 
            <th>Cantidad</th> 
            <th>Presupuesto</th> 
          </tr> 
        </thead> 
      <tbody> 
      <%= f.fields_for :article_materials do |am| %> 
        <tr> 
            <td><%= am.object.material.name %></td> 
            <% if @collection.in_review?  %>
              <td><%= am.number_field :quantity %></td> 
              <td><%= am.number_field :presupuesto %></td> 
            <% else %>
            <td><%= am.number_field :quantity, disabled:true %></td> 
            <td><%= am.number_field :presupuesto , disabled:true %></td> 
            <% end %>
            
        </tr> 
      <% end %>
      </tbody> 
      </table> 
      <% if @collection.in_review? %>
        <%= f.submit "Guardar" %> 
      <% end %> 
    <% end %> 
<% end %>