
<%= form_with(model: [@collection, @article]) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
<div class="container mt-4">
  <div class="mb-3">
    <%= form.label t('.model'), class: "form-label" %>
    <%= form.text_field :model, class: "form-control form-control-blue-100"  %>
  </div>
  <div class="mb-3">
    <%= form.label t('.category_id'), class: "form-label", style: "display: block" %>
    <%= form.select :category_id, Category.all.pluck(:name, :id), {}, class: "form-control form-control-blue-100" %>
  </div>

  <div class="mb-3">
    <%= form.label t('.description'), class: "form-label" %>
    <%= form.text_area :description, class: "form-control form-control-blue-100"%>
  </div>

  <div class="mb-3">
    <%= form.label t('.material_ids'), "Materiales", class: "form-label", style: "display: block"   %>
    <%= form.select :material_ids, Material.all.pluck(:name, :id), {}, {multiple: true, size: 5, class: "form-control form-control-blue-100"}%>
  </div>

  <div class="mb-3">
    <%= form.label "Fotos", class: "form-label", style: "display: block"   %>
    <%= form.file_field :photos, multiple: true %>
  </div>

 <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= form.submit "Guardar cambios", class: "btn btn-primary" %>
 </div>
</div>
<% end %>
