<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
 <%= link_to "Editar artículo", edit_collection_article_path(@article.collection, @article), method: :get %>
  
 <%= button_to "Eliminar artículo", collection_article_path(@article.collection, @article), method: :delete %>

 <%= link_to "Volver a colección", @collection %>

</div>
