<!-- app/views/orders/show.html.erb -->
<h1>Pedido</h1>
<p>
  <strong>Fecha de entrega:</strong>
  <%= @order.date_delivery %>
</p>
<p>
  <strong>Colección:</strong>
  <%= @order.collection.name %>
</p>
<p>
  <strong>Cliente:</strong>
  <%= @order.customer %>
</p>

<h2>Artículos</h2>
<table>
  <thead>
    <tr>
      <th>Artículo</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.article.model %></td>
        <td><%= order_item.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @order.state != "finalizado" %>
  <%= link_to  "Agregar articulo", new_order_item_path(order_id: @order.id), method: :post, class: "btn btn-success me-md-2" %>
  <%= link_to 'Finalizar Pedido', finalizar_pedido_path(order_id: @order.id), method: :get, class: "btn btn-warning me-md-2" %>
<% end %>