<!DOCTYPE html>
<html>
  <head>
    <title>AppCollections</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload"%>
  </head>

  <body>

    <div class= "ms-5" style="margin-bottom: 50px;">
      <%= render "layouts/navbar" %>
    </div>
    <div class= "ms-5" tyle="margin-bottom: 50px;">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div  class= "ms-5">
      <%= yield %>
    </div>
  </body>
</html>
